.sotreBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 250px;
  background-color: rgb(238, 238, 238);
}

.sotreBox h1{
  padding-right: 680px;
  margin-top:100px;
  margin-bottom:20px;
  color: black;
}

.store-setup {
  width:932px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  background-color: white;
  margin-left: -15%;
  margin-bottom:100px;
  padding: 30px;
  border-radius: 10px;
  text-align: left;
}

.setup-section:hover{
  cursor: pointer;
  background-color: #f4f7ff;
  border-color: #d9e2fa;
}  
  
.progress {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}

.progress-bar {
  width: 200px;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 2.5px;
  overflow: hidden;
}

.progress-completed {
  width: 25%; /* 2/8 steps completed */
  height: 100%;
  background-color: #116dff;
}

.setup-section {
  padding: 15px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.setup-section.active {
  background-color: #f7faff;
}

.setup-section.completed {
  color: black;
}

.setup-section .checkbox, .setup-section .dot {
  font-size: 20px;
  margin-right: 10px;
  color: #116dff;
}

.setup-section .text {
  flex-grow: 1;
}

.custom-domain {
  flex-grow: 1;
}

.custom-domain .domain-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-domain .domain-description {
  color: #666;
  margin-bottom: 10px;
}

.custom-domain .domain-input {
  display: flex;
  align-items: center;
}

.custom-domain .domain-input input {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-right: 10px;
}

.custom-domain .domain-input button {
  padding: 6px 30px;
  background-color: white;
  color: #116dff;
  border: 1px solid #116dff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
.domain-input button:hover {
  background-color: #116dff;
  color: white;
}

.setup-button {
  padding: 8px 15px;
  background-color: white;
  color: #116dff;
  border: 1px solid #116dff;
  border-radius: 20px;
  width: auto;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.setup-section .setup-button:hover {
  background-color: #116dff;
  color: white;
}
